# ==========================================
# ActSeisDAS Framework Dependencies
# Pinned for strict reproducibility
# ==========================================

numpy==1.26.4
scipy==1.14.1
obspy==1.4.2
matplotlib==3.10.8
pandas==3.0.3
psutil==5.9.5
schedule==1.2.2
tqdm==4.66.5
